li.fs-api-directory-collapse > ul {
  display: none;
}

ul {
  list-style-type: none;
}

.fs-api-directory-handler {
  cursor: pointer;
}
.fs-api-directory > .fs-api-directory-handler {
  display: inline-block;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.fs-api-directory-collapse > .fs-api-directory-handler {
  display: inline-block;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}